<!doctype html>
<html>
	<head>
		<title>Push me</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	</head>
	<body>
		<script>
			window.PLAYING = <%= playing %>;
		</script>
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script>
			$('body').text(window.PLAYING);
		</script>
	</body>
</html>
